<h1>Questions#ask</h1>


<form action="/answer">
  <label for="question">Speak to your coach</label>
  <input type="text" id="question" name="answer" placeholder="What is the meaning of life?">


  <input type="submit" value="Go on!">
</form>
